.container {
  width: 100%;
}

.as-head {
  display: block;
}

img {
  max-width: 100px;
  padding: 10px;
}

.display-flex {
  display: flex;
  overflow-y: scroll;
  section {
    border: 1px solid #282c34;
    text-align: center;
  }
}

.one-on-one {
  
  text-align: center;
  h4 {
    margin-bottom: 0;
  }
  .wrap{
    border: 5px solid #ffff00;
    display:inline-block;
    vertical-align:middle;
  }
}


